<html>
<head>
	<title>Matcha</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/tags.css" />
	<link rel="stylesheet" type="text/css" href="/css/chat.css" />
	<link rel="icon" href="/img/logo.png" />
	<script src="/js/uikit.min.js"></script>
	<script src="/js/uikit-icons.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/js/tags.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>
<script>
	const socket = io();
	<% if (typeof userId != 'undefined') { %>
		socket.emit('login', {
			userId : <%= userId %>
		});
	<% } %>
	socket.on('message', (opts) => {
		const current = $("#msgcounter").html();
		$("#msgcounter").html(parseInt(current) + 1);
	});
	socket.on('notif', (opts) => {
		const current = $("#notifcounter").html();
		$("#notifcounter").html(parseInt(current) + 1);
		let text = "";
		if (opts.type == 0) {
			text = '<li class="uk-active"><a href="#">'+opts.from.firstname+' a visité ton profil</a></li>';
		}
		if (opts.type == 1) {
			text = '<li class="uk-active"><a href="#">'+opts.from.firstname+' te kiff !</a></li>';
		}
		if (opts.type == 2) {
			text = '<li class="uk-active"><a href="#">'+opts.from.firstname+' te kiff aussi ! MATCH !</a></li>';
		}
		if (opts.type == 3) {
			text = '<li class="uk-active"><a href="#">'+opts.from.firstname+' te kiff plus ...</a></li>';
		}
		$("#notifdrop").prepend(text);
	});
</script>
<nav class="uk-navbar-container uk-navbar uk-navbar-transparent" uk-navbar>
	<div class="uk-navbar-left uk-margin-large-left">
		<a href="/" class="uk-navbar-item uk-logo"><img src="/img/logo.svg" class="uk-navbar-item uk-logo" alt="logo" height="50"/> Matcha</a>
	</div>
	<div class="uk-navbar-right uk-margin-right">
		<% if(typeof userId != 'undefined') { %>
			<ul class="uk-navbar-nav">
				<li>
					<a href="/user/search" uk-icon="icon: search" >Search&nbsp;&nbsp;</a>
				</li>
				<li>
					<a href="/user" uk-icon="icon: world" >Explore&nbsp;&nbsp;</a>
				</li>
				<li>
					<a href="/chat" uk-icon="icon: comment" >Chat&nbsp;<span class="uk-badge" id="msgcounter"><%= newmessages.length %></span>&nbsp;</a>
				</li>
				<li>
					<a href="/user/<%= userId %>" uk-icon="icon: user" >Profile&nbsp;&nbsp;</a>
				</li>
				<li class="uk-parent">
					<a href="#" uk-icon="icon: bell"><span class="uk-badge" id="notifcounter"><%= notifs.length %></span></a>
					<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="max-height: 25em; overflow-y: auto;">
						<ul class="uk-nav uk-navbar-dropdown-nav" id="notifdrop">
							<% for (let i = 0; i < notifs.length; i++) { %>
								<li class="uk-active">
									<a href="#">
										<%= notifs[i].firstname %>
										<%= notifs[i].type == 0 ? ' a visité ton profil' : '' %>
										<%= notifs[i].type == 1 ? ' te kiff !' : '' %>
										<%= notifs[i].type == 2 ? ' te kiff aussi ! MATCH !' : '' %>
										<%= notifs[i].type == 3 ? ' te kiff plus ...' : '' %>
									</a></li>
							<% } %>
						</ul>
					</div>
				</li>
				<li>
					<a href="/auth/signout" uk-icon="icon: sign-out" ></a>
				</li>
			</ul>
		<% } else { %>
		<ul class="uk-navbar-nav">
			<li>
				<a href="/auth/signin" uk-icon="sign-in"></a>
			</li>
			<li>
				<a href="/auth/signup" uk-icon="user"></a>
			</li>
		</ul>
		<% } %>
	</div>
</nav>
