<% include ../partials/header %>
<div class="uk-container uk-container-small">
	<h1>Editer mon profil</h1>
	<% if (typeof error != 'undefined') { %><p class="uk-alert uk-alert-danger"><%= error %></p><% } %>
	<form method="post" action="/user/edit" class="uk-grid-small" uk-grid enctype="multipart/form-data">
		<div class="uk-width-1-2">
			<label>Nom</label>
			<input type="text" name="name" placeholder="Nom..." class="uk-input" value="<%= user.name %>" />
		</div>
		<div class="uk-width-1-2">
			<label>Prénom</label>
			<input type="text" name="firstname" placeholder="Prénom..." class="uk-input" value="<%= user.firstname %>" />
		</div>
		<div class="uk-width-1-2">
			<label>Pseudo</label>
			<input type="text" name="username" placeholder="Pseudo..." class="uk-input" value="<%= user.username %>" />
		</div>
		<div class="uk-width-1-2">
			<label>Email</label>
			<input type="text" name="email" placeholder="Adresse email..." class="uk-input" value="<%= user.email %>" />
		</div>
		<div class="uk-width-1-2 uk-text-center">
			<label>Je suis : </label>
			<input type="radio" name="gender" class="uk-radio" value="0" <%= (user.gender == '0') ? 'checked' : '' %> /> Un homme
			<input type="radio" name="gender" class="uk-radio" value="1" <%= (user.gender == '1') ? 'checked' : '' %> /> Une femme
		</div>
		<div class="uk-width-1-2">
			<label>Interessé par</label><br />
			<input type="radio" class="uk-radio" name="interest" value="0" <%= (user.interest == '0') ? 'checked' : '' %>> Hommes<br />
			<input type="radio" class="uk-radio" name="interest" value="1" <%= (user.interest == '1') ? 'checked' : '' %>> Femmes<br />
			<input type="radio" class="uk-radio" name="interest" value="2" <%= (user.interest == '2') ? 'checked' : '' %>> Femmes & Hommes
		</div>
		<div class="uk-width-1-4">
			<label>Âge</label>
			<input type="number" name="age" placeholder="Âge..." value="<%= user.age %>" class="uk-input" />
		</div>
		<div class="uk-width-1-4">
			<label>Ville</label>
			<input type="text" name="location" placeholder="Ville..." value="<%= user.location %>" class="uk-input" />
		</div>
		<div class="uk-width-1-2">
			<label>Tags d'intérêts<label>
			<input type="text" list="tags" placeholder="Ajouter un tag..." class="uk-input" onkeypress="return checkTag(event)" />
			<datalist id="tags">
				<% for (var i = 0; i < tags.length;i++) { %>
					<option value="<%= tags[i].tag %>">
				<% } %>
			</datalist>
		</div>
		<div class="uk-width-1-2">
			<input type="hidden" value="<%= user.tags %>" id="tagvalue" name="tags" />
			<ul id="taglist">
			</ul>
		</div>
		<div class="uk-width-1">
			<label>Biographie<label>
			<textarea name="bio" placeholder="Courte biographie..." class="uk-textarea" rows="5"><%= user.bio %></textarea>
		</div>
		<div class="uk-width-1" uk-margin>
			<div uk-form-custom="target: true">
				<input type="file" name="photo1">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Photo principale">
			</div>
		</div>
		<div class="uk-width-1-4" uk-margin>
			<div uk-form-custom="target: true">
				<input type="file" name="photo2">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Photo 2">
			</div>
		</div>
		<div class="uk-width-1-4" uk-margin>
			<div uk-form-custom="target: true">
				<input type="file" name="photo3">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Photo 3">
			</div>
		</div>
		<div class="uk-width-1-4" uk-margin>
			<div uk-form-custom="target: true">
				<input type="file" name="photo4">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Photo 4">
			</div>
		</div>
		<div class="uk-width-1-4" uk-margin>
			<div uk-form-custom="target: true">
				<input type="file" name="photo5">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Photo 5">
			</div>
		</div>
		<div class="uk-width-1">
			<input type="submit" class="uk-button uk-button-primary" value="Enregistrer" name="edit" />
		</div>
	</form>
</div>
<script>
if(navigator.geolocation) {
  navigator.geolocation.getCurrentPosition((data) => {
		$.post('https://maps.googleapis.com/maps/api/geocode/json?latlng='+data.coords.latitude+','+data.coords.longitude+'&key=AIzaSyAQQdupWzfhiBYyCjdiG5RJfN1r04mhv9w', (data) => {
			if (data.status === "OK") {
				const res = data.results[0].address_components;
				const city = res.filter((e) => {
					let ok = 0;
					e.types.map((type) => {
						if (type === 'locality') {
							ok = 1;
						}
					});
					if (ok == 1) {
						return true;
					} else {
						return false;
					}
				});
				const zipcode = res.filter((e) => {
					let ok = 0;
					e.types.map((type) => {
						if (type === 'postal_code') {
							ok = 1;
						}
					});
					if (ok === 1) {
						return true;
					} else {
						return false;
					}
				});
				$('input[name="location"]').val(zipcode[0].long_name+' '+city[0].long_name)
			} else {
				console.log("GOOGLE MAPS INVERTED GEOCODING REQUEST FAILED");
			}
		})
	});
} else {
}
</script>
<% include ../partials/footer %>
