<% include ../partials/header %>
<div class="uk-container">
	<div class="uk-grid">
		<div class="uk-width-1-2@s uk-width-1-3@m">
			<% if (user.photo1) { %>
				<div uk-lightbox><a href="/uploads/<%= user.photo1 %>" data-type="image"><img src="/uploads/<%= user.photo1 %>" alt="Default profile picture" class="uk-margin-large-top"/></a></div>
			<% } else { %>
				<img src="/img/people.svg" alt="Default profile picture" class="uk-margin-large-top"/>
			<% } %>
				<ul class="uk-thumbnav uk-margin-auto uk-margin-top uk-margin-bottom">
					<% if (user.photo2) { %>
						<li uk-lightbox><a href="/uploads/<%= user.photo2 %>" data-type="image"><img src="/uploads/<%= user.photo2 %>" alt="" width="50"></a></li>
					<% } %>
					<% if (user.photo3) { %>
						<li uk-lightbox><a href="/uploads/<%= user.photo3 %>" data-type="image"><img src="/uploads/<%= user.photo3 %>" alt="" width="50"></a></li>
					<% } %>
					<% if (user.photo4) { %>
						<li uk-lightbox><a href="/uploads/<%= user.photo4 %>" data-type="image"><img src="/uploads/<%= user.photo4 %>" alt="" width="50"></a></li>
					<% } %>
					<% if (user.photo5) { %>
						<li uk-lightbox><a href="/uploads/<%= user.photo5 %>" data-type="image"><img src="/uploads/<%= user.photo5 %>" alt="" width="50"></a></li>
					<% } %>
			</ul>
		</div>
		<div class="uk-width-1-2@s uk-width-2-3@m">
			<h2><%= user.firstname %> <%= user.name %> (<%= user.username %>) <span class="uk-badge"><%= user.pop %></span></h2>
			<p>
				<%= (user.age) ? user.age+' ans ' : 'Âge inconnu ' %>|
				<% if(user.location) { %><span class="uk-icon" uk-icon="location"></span> <%= user.location+' ' %><% } else { %>Localisation inconnue <% } %>|
				<%= (user.interest != null) ? 'Interessé par ' : 'Intérets inconnus' %>
				<%= (user.interest == 0) ? 'les hommes' : '' %>
				<%= (user.interest == 1) ? 'les femmes' : '' %>
				<%= (user.interest == 2) ? 'les femmes et les hommes' : '' %>
			</p>
			<% if (userId == user.id) { %>
				<a href="/user/edit" class="uk-button uk-button-primary"><span class="uk-icon" uk-icon="pencil"></span> Editer mon profil</a>
			<% } else { %>
				<% if (data.liked) { %>
					<%= data.gender ? 'Elle' : 'Il' %> me kiff&nbsp;&nbsp;
				<% } %>
				<a href="/like/<%= data.like ? 'delete' : 'create' %>/<%= user.id %>" class="uk-button <%= data.like ? 'uk-button-danger' : 'uk-button-default' %>"><span class="uk-icon" uk-icon="heart"></span> Je <%= data.gender ? 'la' : 'le' %> kiff<%= data.like ? ' plus' : '' %></a>
				<a href="/" class="uk-button uk-button-secondary"><span class="uk-icon" uk-icon="ban"></span> Bloquer</a>
			<% } %>
			<div class="uk-margin">
				<ul id="taglist">
					<% for(var i = 0; i < user.tags.length; i++) { %>
						<li class="rotag"><%= user.tags[i] %></li>
					<% } %>
				</ul>
			</div><br />
			<p><%= user.bio %></p>
		</div>
	</div>
</div>
<% include ../partials/footer %>
